.categoria{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    position: relative;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 50px;
}

.categoria h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.categoria span {
    background-color: var(--color-primario);
    border-radius: 10px;
    color: white;
    font-size: 48px;
    font-weight: bold;
    padding: 10px 20px;
}


.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



